<script>
  export let data = {};
  export let xScale;
  export let yScale_Elec;
  export let yScale_Gas;
  export let type;

  let pathGenerator_E = (d) => {
    let path = "M";
    d.forEach((value, idx) => {
      path += " " + xScale(idx) + "," + (value != 0 ? yScale_Elec(value) :0); //because there could not be logarith 0 
    });

    return path;
  };
  let pathGenerator_G = (d) => {
    let path = "M";
    d.forEach((value, idx) => {
      path += " " + xScale(idx) + "," + (value != 0 ? yScale_Gas(value) :0);
    });
 
    return path;
  };
</script>



<path
  class="{type == 'l' ? 'l1' : 'r1'} e"
  d={pathGenerator_E(data["electrity"])}
/>
<path class="{type == 'l' ? 'l2' : 'r2'} g" d={pathGenerator_G(data["gas"])} />

<style>
  path {
    stroke: none;
    fill-opacity: 0.8;
  }
  .e {
    fill: #185EBD;
  }
  .g {
    fill: #FFAA3D;
  }
  .l1 {
    transform: rotate(20deg) scale(1, -1);
  }
  .r1 {
    transform: rotate(150deg) scale(-1, 1);
  }
  .l2 {
    transform: rotate(20deg);
  }
  .r2 {
    transform: rotate(150deg) scale(-1, -1);
  }
</style>
