<script>
    export let data = {};
    export let yScale_h;
    export let yScale_c;
    import { radialArea} from 'd3-shape';
  
    const gene = radialArea()
  
    let radioGenerator_h = (d) => {
      let new_array = []
      d.forEach((value, idx) => {
        new_array.push([  (Math.PI/180) * idx,yScale_h(value)]);
      });
      return gene(new_array);
    };
    let radioGenerator_c = (d) => {
      let new_array = []
      d.forEach((value, idx) => {
        new_array.push([  (Math.PI/180) * idx,yScale_c(value)]);
      });
      return gene(new_array);
    };
    
  </script>
  

  
  <circle r=90 ></circle>
  <path class="h" d ={radioGenerator_h(data["heating"])}></path>
  <path class="c" d ={radioGenerator_c(data["cooling"])}></path>
  <rect x=0 y={-90} width={1.2} height={180}></rect>
  <rect x={-90} y=0 width={180} height={1.2}></rect>
  <g transform="translate(-2,-98)">
    <text class="text">0</text>
  </g>
  <g transform="translate(95,2)">
    <text class="text">3</text>
  </g>
  <g transform="translate(-2,105)">
    <text class="text">6</text>
  </g>
  <g transform="translate(-104,2)">
    <text class="text">9</text>
  </g>
  
  <style>
    path {
      fill-opacity: 0.5;
    }
    circle{
      stroke: black;
      fill: transparent
    }
    .c{
      stroke: #ED5D47;
      fill: #ED5D47;
    }
    .h{
      stroke: #185EBD;
      fill: #185EBD;
    }
  </style>
  