<script>
  import _ from 'underscore';
  import Branch from '../extra/_design_3_use_tree.svelte';
  import { scaleLinear,scaleLog } from 'd3-scale';
  import { extent } from 'd3-array';
  import dataSet from '../json/hourly_electricity_vs_gas_december.json'

  const width = 1200;
  const height = 700;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  
  let week_data= {}
  let stem = [...Array(110).keys()]
 
  $: {
    let weeks = _(dataSet).groupBy('week')
    const weekNumbers = _.keys(weeks);
    const weekResources = {};

    _(weekNumbers).each((weekNumber) => {
      const resources = weeks[weekNumber];
      const electricity = [];
      const gas = [];
      _(resources).each((resource) => {
        electricity.push(resource.total_electrity);
        gas.push(resource.total_gas);
      });

      weekResources[weekNumber] = {
        electrity: electricity,
        gas
      }
    });

    week_data = weekResources;

    _(weekNumbers).each((weekNumber) => {
      let weekElectricity = week_data[weekNumber]["electrity"]
      let weekGas = week_data[weekNumber]["gas"]

      if (weekElectricity.length < 167){
        let leafElectricity = new Array(167 - weekElectricity.length).fill(0);
        weekElectricity.push(...leafElectricity)
      }

      if (weekGas.length < 167){
        let leafGas = new Array(167 - weekGas.length).fill(0);
        weekGas.push(...leafGas)
      }
    });
  }
  $: xScale = scaleLinear().domain([1,170]).range([1,167+50])
  $: yScale_Elec = scaleLog().domain(extent(dataSet.map((d)=> d.total_electrity))).range([0,35])
  $: yScale_Gas = scaleLog().domain(extent(dataSet.map((d)=> d.total_gas))).range([0,35])
</script>

<div class="graph">
  <svg {width} {height}>
    <g transform="translate(100, 20)">
      <text class="text">Electricity</text>
    </g>
    <g transform="translate(180, 5)">
      <rect width="20" height="20" style="fill:#185EBD"></rect>
    </g>
    <g transform="translate({100},60)">
      <text class="text">Gas</text>
    </g>
    <g transform="translate(180, 45)">
      <rect width="20" height="20" style="fill:#FFAA3D"></rect>
    </g>
    <text for="gas" class="gas">Gas</text>
    
  {#each Object.keys(week_data).reverse() as week_ , weedId}
  {#if weedId %2 == 0}
      <g transform="translate({margin.left*49}, {(weedId *80)+100})">
        <Branch  data={week_data[week_]} {yScale_Elec} {yScale_Gas} {xScale} type={"r"} > </Branch>
      </g>
    {/if}
    {#if weedId %2 != 0}
      <g transform="translate({margin.left*27}, {(weedId *80)+100-70})">
        <Branch data={week_data[week_]} {yScale_Elec} {yScale_Gas} {xScale} type={"l"} > </Branch>
      </g>
      {/if}
      
      {/each}
      
      {#each stem as value,idx}
    {#if idx>10}
      <circle cx={480} cy={value*5} r=3></circle>
      {/if}
    
      {/each} 
      
    </svg>
</div>
    

<style>
  svg {
    padding-top: 50px;
    border: 1px solid black;
    border-radius: 5px;
  }
  circle{
    color: rgb(60, 41, 41) !important;
  }

  .graph {
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
  }
</style>
