<script>
  import _ from 'underscore';
  import { scaleLog, scaleLinear } from 'd3-scale';
  import { extent } from "d3-array";
  import { area } from 'd3-shape';
  import dataSet from '../json/hourly_heating_december.json'

  let buildingCity = {};
  let buildings = {};
  let perLine = 0;
  let acrossLines = 0;

  $: {
    let cities = _(dataSet).groupBy('city');

    let complete = {}
    _(_.keys(cities)).each(city => {
      complete[city] = _.chain(cities[city]).groupBy('buildingtype').value();
    })

    const completeKeys = _.keys(complete);

    _(completeKeys).each((city) => {
      const buildingsKeys = _.keys(complete[city]);
      _(buildingsKeys).each((buildingName) => {
        const buildingRecord = complete[city][buildingName]
        let heatingValues = []
        _(buildingRecord).each((data) => {
          heatingValues.push(data.total_heating_energy)
        });
        complete[city][buildingName] = heatingValues;
      });
    });

    buildingCity = complete;
    buildings = {...buildingCity[_.keys(buildingCity)[perLine]]};
  }

  $: console.log(buildingCity)
  $: xScale = scaleLinear().domain([1,800]).range([1,300])
  

  const width = 750;
  const height = 450;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  
   
  function locationListener(event) {
		perLine = event.currentTarget.value;
    buildings = {...buildingCity[_.keys(buildingCity)[perLine]]}
    
	}
  function scalingListener(event) {
		acrossLines = event.currentTarget.value;
	}

  var Gen = area().x((p) => p[0]).y0((p) => 20).y1((p) => p[1]);
  function areaGenerator(d){
    let tmp_array = []
    let yScale = scaleLinear().domain(extent(d)).range([0,20])
    d.forEach((value, idx) => {
      if (value>0) {
        tmp_array.push([xScale(idx),(value > 0 ? yScale(value) :0)])
      }
      
    });
    
    console.log(tmp_array)
    return Gen(tmp_array);
  };
</script>

<div class="labels">
  <div class="label-left">
    <strong>Location</strong>
    { #each _.keys(buildingCity) as name , nameId }
      <label>
        <input checked = { perLine === nameId } on:change = { locationListener } type="radio" name="city" value = { nameId } /> { name }
      </label>
    { /each }
    <br>
  </div>
  
  <div class="label-right">
    <strong>Scaling</strong>
      <label>
        <input checked = { acrossLines === 0 } on:change = { scalingListener } type="radio" name="scale" value="0" /> Within Building Type
      </label>
      <label>
        <input checked = { acrossLines === 1 } on:change = { scalingListener } type="radio" name="scale" value="1" /> Across All Buildings Types
      </label>
  </div>
</div>

<div class="graph">
  <svg { width } { height }>
    <g transform = "translate({margin.left}, {margin.top})">
      { #each _.keys(buildings) as name , nameId }
      <g transform="translate(10,{(nameId*40)+20})">
        <text class="text">{name}</text>
      
      </g>
        <g transform="translate(180,{(nameId*40)+1})">
  
          <svg height="100%" width="100%" viewBox="0 0 200 500"  preserveAspectRatio="none">
            <path  d = { areaGenerator(buildings[name]) }/>
         </svg>
        </g>
      { /each }
    </g>
  </svg>
</div>



<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
    padding: 0 16px;
  }
  .label-left{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
  }
  .label-right{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
  .labels {
    display: flex;
    justify-content: center;
    margin: 20px 0 16px;
  }
  path {
    color: #2467C0;
    stroke: none;
    fill-opacity: 0.9;   
    fill: #2467C0;
  }
  .graph {
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
  }
</style>
