<script>
  import _ from 'underscore';
  import Radio from "../extra/_design_2_clock.svelte";
  import { scaleRadial } from 'd3-scale';
  import { extent } from "d3-array";
  import dataSet from '../json/daily_heating_cooling.json'

  const width = 1200;
  const height = 400;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  let week_data = {}

  $: {
    let cities = _(dataSet).groupBy('city');
    const cityKeys = _.keys(cities);

    _(cityKeys).each((cityName) => {
      const tempertures = cities[cityName];
      const heating = _(tempertures).map((cityRecord) => {
        return cityRecord.heating;
      });
      const cooling = _(tempertures).map((cityRecord) => {
        return cityRecord.cooling;
      });
      cities[cityName] = {
        heating,
        cooling
      };
    });

    week_data = cities;    
  }
  
 
  $: yScale_h = scaleRadial().domain(extent(dataSet.map((data) => data.heating))).range([0,90])
  $: yScale_c = scaleRadial().domain(extent(dataSet.map((data) => data.cooling))).range([0,90])
</script>

<div class="graph">
  <svg {width} {height}>
    <g transform="translate({margin.left}, {margin.top})">
      {#each Object.keys(week_data) as name , nameId}
      <g transform="translate({(nameId*300)+100},40)">
        <text class="text">{name}</text>
      </g>
      <g transform="translate({(nameId*300)+130},200)">
        <Radio  data={week_data[name]}  {yScale_h} {yScale_c}></Radio>
      </g>
      {/each}
    </g>
  </svg>
</div>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
  .text{
    padding-bottom: 10px;
  }
  .graph {
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
  }
</style>
