<script>
  let clicked = false;
</script>

<div style='display:flex; flex-direction:column'> 
  <button class="btn btn-primary" on:click={() => (clicked = true)}>
    click here
  </button>
<span>
  {#if clicked == true}
  You have clicked the button
  {:else}
  You have to click the button
  {/if}
</span>

</div>
