<style>
    p {
      color: steelblue;
      font-family: Arial, Helvetica, sans-serif;
      font-size: small;
    }
  </style>
<p>I <span style="color: red">really</span> like data visualisation!</p>
