
<script>
const myList = ["asian food", "soccer", "cycling", "swimming", 'music'];
const fav = { name: 'Nicolas', things: myList};
</script>

<p>My name is {fav.name} and these are some of my favourite things: {fav.things}. </p>