<script>
  // Properties
  export let data = [];
  export let year_n = 0;
  export let continent_n = "all";
  const continents = ["europe", "asia", "americas", "africa"];
  let sec;
  let begin = false;
  function set(){
    sec = setInterval(function(){year_n += 1}, 40);
    begin = true;
  }
  function erase(){
    year_n = 0;
    clearInterval(sec);
    begin = false;
  }

  $: if(year_n==214){
    if (begin == true){
      year_n = 0;
    }
  }

</script>

<div class="row">
  <div class="col-4">
    <button type="button" class="btn btn-primary" on:click={set}>Start</button>
    <button type="button" class="btn btn-primary" on:click={erase}>Reset</button>
  </div>
  <div class="col-5">
    <label>
      Year: {year_n + 1800}
      <input type="range" class="form-range" min="0" max="214" step="1" bind:value={year_n}>
    </label>
  </div>
  <div class="col-3">
    <select bind:value={continent_n}>
      <option value="all">all</option>
      {#each continents as continent}
        <option value="{continent}">{continent}</option>
      {/each}
    </select>
  </div>
</div>
