<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";

  import Controls from "./_ex_3_controls.svelte";
  import Scatterplot from "./_ex_3_scatterplot.svelte";

  // Load the data
  let data = null;
  onMount(async () => {
    data = await json("/data/gapminder.json");
  });

  let year_n = 0;
  let continent_n = "all";

  function get_points(data, continent_n){
    if (continent_n!="all"){
      // alert(current_continent);
      return data.filter(datum => datum.continent == continent_n);
    }
    else{
      return data;
    }
  }

  
</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <div>
    <Scatterplot data={get_points(data[year_n]["countries"], continent_n)} />
    <Controls bind:year_n={year_n} bind:continent_n={continent_n}/>
  </div>
{/if}
