<script>
  import { csv } from "d3-fetch";
  import { onMount } from "svelte";
  import Scatter from "./_ex_4_scatter.svelte";

  // Load the data
  let data = null;
  onMount(async () => {
    data = await csv("/data/cars-2.csv");
  });

  // Configurations
  const s1 = {
    x: (d) => +d.Horsepower,
    y: (d) => +d.Acceleration,
    xLabel: "Horsepower",
    yLabel: "Acceleration"
  };
  const s2 = {
    x: (d) => +d.Displacement,
    y: (d) => +d.Miles_per_Gallon,
    xLabel: "Displacement",
    yLabel: "Miles per Gallon"
  };
  function bool_selection(ar_1, ar_2){
    length = ar_1.length;
    let is_equal = []
    for (let i=0; i<length; i++){
      if(ar_1[i]==true && ar_2[i]==true){
        is_equal.push(true);
      }
      else{
        is_equal.push(false);
      }
    }
    return is_equal;
  }

  let selec_1 = [];
  let selec_2 = [];
  let full_selec = [];
  $: full_selec =  bool_selection(selec_1, selec_2); 


</script>

{#if !data}
  <p>Loading the data, please wait...</p>
{:else}
  <Scatter {data} {...s1} bind:local_selection={selec_1} global_selection={full_selec}/>
  <Scatter {data} {...s2} bind:local_selection={selec_2} global_selection={full_selec}/>
{/if}

