<script>
  // Dimensions
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 30, left: 60 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const data = [
    { service: "Netflix", viewers: 2.9 },
    { service: "Amazon Prime Video", viewers: 1.3 },
    { service: "Disney+", viewers: 2.1 },
    { service: "Hulu", viewers: 0.9 },
    { service: "Apple TV", viewers: 1.1 },
    { service: "Rakuten", viewers: 0.4 }
  ];
  import {scaleLinear} from 'd3-scale';
  import {scaleBand} from "d3-scale";
  import {extent} from "d3-array";
  import {axisBottom, axisLeft} from "d3-axis";
  import {select} from "d3-selection";
  let tvserv = [];
  for(const dat of data){
    tvserv.push(dat.service);
  }

  let scaler_y = scaleLinear().domain([0, 3]).range([innerHeight, margin.bottom]);
  let scaler_x = scaleBand().domain(tvserv).range([0, innerWidth]);

  let l_axis = axisLeft(scaler_y);
  let b_axis = axisBottom(scaler_x);

  function LAxis(){
    select("#l_axis").call(l_axis);
  }
  function BAxis(){
    select("#b_axis").call(b_axis);
  }

</script>

<!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
<svg viewbox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform={`translate(${margin.left},${margin.top})`}>
    {#each data as dat}
      <rect x={scaler_x(dat.service)} y={scaler_y(dat.viewers)} height={innerHeight - scaler_y(dat.viewers)} width=50 fill="steelblue"/>
    {/each}
  </g>
  <g id="b_axis" use:BAxis transform={`translate(${40}, ${height-margin.bottom})`}></g>
  <text x="-50" y=130 transform="rotate(-90 0 115)">viewers (million)</text>
  <g id="l_axis" use:LAxis transform={`translate(${margin.left-20},${margin.top})`}>
  </g>
</svg>
<style>
  text {
    text-anchor: middle;
    font-size: small;
  }
</style>