<script>
import Scatterplot from "./_ex_7_scatterplot.svelte";
    import { onMount } from 'svelte';
    let data = null;
    let gapmind_data = []
    data = fetch("./static/data/gapminder.json")
    console.log(gapmind_data)

</script>
<Scatterplot data={data} /> -->

